.team-img{
    display: flex;
    align-items:center ; 
    flex-direction: column;
    justify-content: center; 
    width: 100%;
    height: 700px;
    background: url('/images/team.jpg');
    background-size: cover;
    filter: sepia(100%) hue-rotate(190deg) saturate(50%);
}

.about{
    margin-top: 3.9%
}


.about-h2{
    color: #36348E;
    filter: none;
    text-align: center;
    font-size: 80px;
    font-weight: 600;
}


.about-p{
    font-size: 20px;
    font-weight: 500;
}

.manager{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    gap: 100px;
}


.manager-text{
    width: 600px;
}

.manager-img{
    height: 350px;
    border-radius: 30px;
}

.manager-text h1{
    color: #36348E;
    font-size: 32px;
}

.manager-text p{
    color: #36348E;
    font-size: 17px;
    text-align: justify;
}

.manager-text span{
    font-weight: 600;
    font-style: italic;
}

/* .manager-sub{
    height: 100px;
} */


.team{
    width: 100%;
    background-color: rgba(212, 211, 255, 0.23);
    margin-top: 10%;
    height: 980px;
}


.para{
    font-size: 40px;
    padding: 2%;
    text-align: center;
    color: #36348E;
}


.team span{
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color: rgb(255, 179, 80);   
}


.card{
    /* height: 470px; */
    margin-left: 7%;
    max-width: 300px;
}

.card img{
    height: 300px;
    width: 300px;
}